{% extends "base.html" %}
{% load i18n  %}
{% load wagtailcore_tags %}
{% load menu_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}    
{% for block in page.content %}
{% include_block block %}
{% endfor %}
{% with tournament=page.tournament %}

{% if tournament.first_place or tournament.third_place or tournament.second_place %}
<h1>{% trans 'Final Standings' %}</h1>
<table class="table">
{% if tournament.first_place %}
<tr>
	<td class="col-md-2">{% trans 'Champion' %}:</td>  
	<td class="col-md-8"><h3>{{tournament.first_place.name|safe}}, {{tournament.first_place.school}}, {{tournament.first_place.city}}</h3></td>
</tr>
{% endif %}

{% if tournament.second_place %}
<tr>
	<td class="col-md-2">{% trans 'Second place' %}:</td>  
	<td class="col-md-8"><h3>{{tournament.second_place.name|safe}}, {{tournament.second_place.school}}, {{tournament.second_place.city}}</h3></td>
</tr>
{% endif %}
{% if tournament.third_place %}
<tr>	
	<td>{% trans 'Third place' %}:</td>  
	<td><h3>{{tournament.third_place.name|safe}}, {{tournament.third_place.school}}, {{tournament.third_place.city}}</h3></td>
</tr>
{% endif %}
</table>

{% endif %}

{% if standings %}
<h1>{% trans 'Group phase' %}</h1>
<table>
	<tr>
		<th class="hidden-xs hidden-sm">{% trans 'Rank' %}</th>		
		<th>{% trans 'Name' %}</th>		
		<th class="hidden-xs hidden-sm hidden-md">{% trans 'School' %}</th>	
		{% for round in tournament.rounds.all %}
			<th>{{ round.name }}</th>
		{% endfor %}	  
		<th>{% trans 'Score' %}</th>
	</tr>
{% for player_score in standings %}
	<tr>
		<td class="hidden-xs hidden-sm">{{ forloop.counter }}</td>		
		<td class="player">{{ player_score.player.name|safe }}</td>
		
		<td class="hidden-xs hidden-sm hidden-md">{{ player_score.player.school }}</td>
		{% for game in player_score.games %}
			{% comment %} {% if game.game.player_id == row.player.id %} {% endcomment %}
			{%if game %}
			{% if game.player %}
			<td style="background-color:{{tournament.player_color}}">
			{% else %}
			<td style="background-color:{{tournament.opponent_color}}">
			{% endif %}	
				{% if game.game.status != 'planned' %}
			  		<div class="score">{{ game.score }}</div>
			  	{% endif %}
			  <div class="opponent">{{ game.opponent|safe }}{% if game.dummy  %} - {% trans 'Dummy' %}{% endif %}</div>
			</td>
			{% else %}
			 <td></td>
			{% endif %}			
		{% endfor %}	  
		<td class="score">{{ player_score.score }}</td>
	</tr>
{% endfor %}
</table>

{% else %}
	<h2>{% trans 'No rounds have been setup.' %}</h2>
{% endif %}
{% endwith %}
{% endblock %}
