{% load static wagtailcore_tags wagtailuserbar %}
{% load i18n  %}
{% load menu_tags %}
<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        {% block extra_css %}
        {% endblock %}

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>

        {% comment %} <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'> {% endcomment %}
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>

        <!-- Font awesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Academicons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.0/css/academicons.min.css" rel="stylesheet">

        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <!-- Simple Line Icons -->
        <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
        <!-- Theme Style -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        	<!-- Modernizr JS -->
	    <script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>
        <link rel="shortcut icon" href="{% static "img/eurobot_rs.ico" %}">

    </head>

    <body id="{% block body_id %}body{% endblock %}">

    {% comment %} <body class="{% block body_class %}{% endblock %}"> {% endcomment %}
        <div id="fh5co-header" role="banner">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset">
                            <div class="navbar-header">
                                <!-- Mobile Toggle Menu Button -->
                                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                                <a class="navbar-brand" href="/">{% block header_text %}{% trans 'EUROBOT Serbia' %}{% endblock %}</a>
                            </div>
                            <div id="fh5co-navbar" class="navbar-collapse collapse">
                                {% top_menu "menus/header.html" page %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% wagtailuserbar %}


        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/eurobot.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-9 middle">
                    {% top_menu "menus/top_menu.html" page %}
                </div>
            </div>                        
            <div class="row">
                <div class="col-md-offset-3 col-md-9 middle">
                    <h1>{% block page_title %}{{ page.title }}
                    {% endblock %}</h1>
                </div>
            </div>        
            <div class="row">
                <div class="col-md-3 left">
                    {% block left_panel %}
                     <div class="panel panel-default tree">{% top_menu "menus/tree.html" page %}</div>
                    {% endblock %}
                </div>
                <div class="col-md-9 middle">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>

        <footer>
            <div class="container">
                {% comment %} {% page_menu "pages/menus/footer.html" %} {% endcomment %}

                <div class="row">
                    <p class="site-info text-center">
                        {% trans "Powered by" %}
                        <a href="https://wagtail.io/">Wagtail</a>
                        {% trans "and" %}
                        <a href="http://www.djangoproject.com">Django</a>
                        <span class="separator">|</span>
                        {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>

                    </p>
                </div>
            </div>
        </footer>

    </body>
</html>
