{% load i18n %}
{% load menu_tags %}
{% load wagtailcore_tags %}

{% spaceless %}
<ul class="nav nav-list navlist-menu-level-0">
  {% for menu_page in menu_pages %}
  {% if menu_page.show_in_menus %}
  <li class="
    {% if menu_page.is_current_or_ascendant %} active{% endif %}
    {% if menu_page.is_current_or_ascendant %} active-branch{% endif %}
    " id="tree-menu-{{ menu_page.html_id }}">
    <a href="{% pageurl menu_page %}">{{ menu_page.title }}</a>
    {% if menu_page.is_current_or_ascendant %}
    {% if menu_page.children_to_show %}{% top_menu "menus/tree.html" current_page menu_page %}{% endif %}
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endspaceless %}
